{{! vista de productos }}

<h1>Productos</h1>
<ul id="productos">
<h1>{{title}}</h1>
<img{{tumbhnail}}/>
<h2>{{price}}</h2>
<h3>{{category}}</h3>
<button></button>


</ul>
{{!-- <script src="/js/products.js"></script> --}}